* {
	box-sizing: border-box;
}
body {
	margin: 0;
	/*background: #000030;*/
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #000030 0%, #000000 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #000030 0%, #000000 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #000030 0%, #000000 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	font-family: 'Fjalla One', sans-serif;
	text-align: center;
	font-size: 15px;
}
h1 {
	font-size: 3em;
	letter-spacing: 2px;
	color: white;
	margin: 0 auto;
	padding-top: 10px;
	padding-bottom: 20px;
	max-width: 80%;
}



/* NEON FLICKERS */



@keyframes flicker {
	0% { opacity: 1;}
	3% { opacity: 0.4;}
	6% { opacity: 1;}
	7% { opacity: 0.4;}
	8% { opacity: 1;}
	9% { opacity: 0.4;}
	10% { opacity: 1;}
	99% { opacity: 1;}
	100% { opacity: 1;}
}

#M {
	animation: flicker 2s infinite 5s step-end;
}

#middle {
	animation: flicker 6s infinite 6s step-end;
}

#D {
	animation: flicker 5s infinite 10s step-end;
}



/* TOGGLE */



#off {
	display: none;
}

#on {
	display: block;
}



/* FLEX BOX */



#main {
	display: flex;
	min-height: calc(100vh - 35vh);
}

#main>article {
	flex: 1;
}

#main>nav, #main>aside {
	flex: 0 0 20vw;
	display: block;
}

#main>nav {
	order: -1;
}

header, article, nav, aside {
	padding: 1em;
}

header {
	max-height: 35vh;
}



/* BUTTONS */



.cards {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-direction: row;
	max-height: 100vh;
}

.button {
	/*background: #f7941d;*/
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #f7941d 0%, #f37021 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f7941d 0%, #f37021 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f7941d 0%, #f37021 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	margin: 5px;
	border: 3px solid #fff;
	max-width: 23vw;
	height: 200px;
	width: 200px;
	font-size: 2em;
	color: #00001e;
}

.button:hover {
	/*background: #f37021;*/
	/* Old browsers */
	background: -moz-linear-gradient(-45deg, #f37021 0%, #f7941d 100%);
	/* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg, #f37021 0%, #f7941d 100%);
	/* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg, #f37021 0%, #f7941d 100%);
	/* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.fa {
	font-size: 50px;
	color: #00001e;
}

#neonbox {
	max-width: 50%;
	margin: 0 auto;
}



/* COLOR PICKER */



#square {
	/*is invisible*/
}

.jscolor {
	text-align: center;
}

.input-lg {
	/*	is invisible*/
	height: 0px;
	width: 0px;
	margin: 0 auto;
	padding: 0;
	visibility: hidden;
}



/* MOBILE SCREENS */



@media screen and (max-width: 1080px) {
	#main>nav, #main>aside {
		display: none;
	}

	body {
		font-size: 2em;
	}

	#neonbox {
		max-width: 80%;
		margin: 0 auto;
	}

	.button {
		/*max-width: none;*/
		width: 40vw;
		height: 20vh;
		font-size: 2em;
	}

	.fa {
		font-size: 100px;
	}

	.icons img{
		size:50%;

	}
}